@media only screen and (max-width: 600px) {
    .main-hero-section {
        padding-inline: 20px;
    }

    .links {
        width: 200px;
        height: 100vh;
        display: inline;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        padding: 20px;
    }

    .links ul {
        display: block;
    }

    .links ul li {
        margin: 30px 0px 30px 0px;
    }

    .links ul li a {
        color: #3b5d50;
    }

    .links.active {
        transform: translateX(0);
    }

    .bars {
        display: block;
    }

    .nav-icons a {
        margin: 0px 13px 0px 0px;
    }

    .menu-icon {
        stroke: #fff;
    }

    .nav-svg {
        stroke: #3b5d50;
    }

    .hero-section {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0px;
    }

    .hero-left-bar {
        order: 1;
        padding: 0;
    }

    .hero-image {
        width: 100%;
        order: 0;
    }

    .hero-image img {
        width: 300px;
    }

    .hero-left-bar h1 {
        font-size: 49px;
    }

    .hero-left-bar p {
        line-height: 23px;
        font-size: 16px;
    }

    .products-title {
        background-color: #eff2f1;
        padding: 2rem 1rem;
    }

    .popular-product {
        margin: 20px 0px 20px 0px;
    }

    .slider-container {
        display: none;
    }

    .recent-blogs {
        padding: 1rem 1rem;
    }

    .recent-content {
        display: flex;
        align-items: center;
    }

    .recent-images {
        display: flex;
        justify-content: center;
        gap: 128px;
    }

    .image-content {
        width: 354px;
    }

    .hero-left-bar {
        padding: 0px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .product-cards {
        padding: 1rem 1rem;
        justify-content: start;
    }

    .card {
        max-width: 400px;
    }

    .buy-btn {
        visibility: visible;
    }

    .why-title {
        padding: 1rem 1rem;
    }

    .why-section {
        padding: 1rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .why-left {
        width: 100%;
    }

    .feature {
        width: 100%;
    }

    .why-right {
        width: 100%;
        height: 100%;
    }

    .we-help-section {
        width: 100%;
        flex-wrap: wrap;
        padding: 1rem 1rem 1rem 1rem;
    }

    .help-left {
        width: 100%;
    }

    .help-right {
        width: 100%;
        padding: 1.5rem 0rem 1rem 0rem;
        gap: 10px;
    }
}

@media only screen and (min-width: 600px) {
    .main-hero-section {
        padding-inline: 20px;
    }

    .links ul li {
        margin-inline: 10px;
    }

    .links ul li a {
        width: 100%;
        font-size: 12px;
    }

    .nav-icons a {
        margin-inline: 3px;
    }

    .menu-icon {
        stroke: #fff;
    }

    .nav-svg {
        stroke: #fff;
    }

    .hero-image img {
        width: 370px;
    }

    .hero-left-bar {
        padding: 0px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .products-title {
        padding: 2rem 1rem;
    }

    .product-cards {
        padding: 1rem 1rem;
    }

    .card {
        max-width: 400px
    }

    .why-title {
        padding: 1rem 1rem;
    }

    .why-right {
        width: 100%;
        height: 100%;
    }

    .we-help-section {
        width: 100%;
        flex-wrap: wrap;
        padding: 1rem 1rem 1rem 1rem;
    }

    .help-left {
        width: 100%;
    }

    .help-right {
        width: 100%;
        padding: 1.5rem 0rem 1rem 0rem;
        gap: 10px;
    }

    .why-section {
        padding: 1rem 1rem 4rem 1rem;
    }

    .why-left {
        width: 100%;
    }

    .why-right {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .main-hero-section {
        padding-inline: 25px;
    }

    .hero-section {
        padding: 80px 0px;
    }

    .links ul li {
        margin-inline: 12px;
    }

    .links ul li a {
        width: 100%;
        font-size: 16px;
    }

    .nav-icons a {
        margin-inline: 3px;
    }

    .menu-icon {
        stroke: #fff;
    }

    .nav-svg {
        stroke: #fff;
    }

    .hero-image img {
        width: 400px;
    }

    .products-title {
        background-color: #eff2f1;
        padding: 2rem 2rem;
    }

    .product-cards {
        padding: 1rem 2rem;
    }

    .why-title {
        padding: 1rem 4rem;
    }

    .why-section {
        padding: 1rem 4rem;
    }
}

@media only screen and (min-width: 992px) {
    .main-hero-section {
        padding-inline: 56px;
    }

    .hero-section {
        padding: 80px 0px;
    }

    .links ul li {
        margin-inline: 23px;
    }

    .links ul li a {
        width: 100%;
        font-size: 16px;
    }

    .nav-icons a {
        margin-inline: 12px;
    }

    .menu-icon {
        stroke: #fff;
    }

    .nav-svg {
        stroke: #fff;
    }

    .hero-image img {
        width: 500px;
    }

    .products-title {
        background-color: #eff2f1;
        padding: 2rem 4rem;
    }

    .product-cards {
        padding: 1rem 4rem;
    }

    .we-help-section {
        justify-content: space-between;
        padding: 1rem 9rem;
    }

    .why-title {
        padding: 1rem 4rem;
    }

    .why-section {
        width: 100%;
        padding: 1rem 4rem;
    }

    .why-right {
        display: block;
    }

    .why-right img {
        width: 100%;
        height: 450px;
    }

    .help-left {
        width: 48%;
    }

    .help-right {
        width: 48%;
    }
}

@media only screen and (min-width: 1200px) {
    .main-hero-section {
        padding-inline: 145px;
    }

    .hero-section {
        padding: 80px 0px;
    }

    .links ul li {
        margin-inline: 23px;
    }

    .links ul li a {
        width: 100%;
        font-size: 16px;
    }

    .nav-icons a {
        margin-inline: 12px;
    }

    .menu-icon {
        stroke: #fff;
    }

    .hero-left-bar p {
        color: #fff;
        font-size: 21px;
    }

    .hero-image img {
        width: 500px;
    }

    .products-title {
        background-color: #eff2f1;
        padding: 2rem 9rem;
    }

    .product-cards {
        padding: 1rem 9rem;
    }

    .why-title {
        background-color: #eff2f1;
        padding: 2rem 9rem;
    }

    .why-section {
        width: 100%;
        padding: 1rem 9rem;
    }
}