@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.main-hero-section {
    width: 100%;
    background-color: #3b5d50;
    padding-inline: 9rem;
}

.bars {
    display: none;
}

.drawer-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-bar {
    width: 100%;
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: space-between;
}

.brand-text a {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.links {
    display: flex;
    align-items: center;
}

.links ul {
    display: flex;
}

.links ul li {
    list-style-type: none;
    margin-inline: 21px;
    font-weight: 500;
    font-size: 16px;
}

.links ul li a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.links ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: -6px;
    left: 0;
    background-color: #f9bf29;
    transition: width 0.4s ease;
}

.links ul li a:hover::after {
    width: 100%;
}

.links ul li a img {
    width: 1px;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons a {
    margin-inline: 16px;
}

.hero-section {
    width: 100%;
    display: flex;
}

.hero-left-bar {
    padding: 80px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-left-bar h1 {
    color: #fff;
    font-size: 44px;
}

.hero-left-bar p {
    color: #fff;
    font-size: 14px;
    line-height: 35px;
}

.hero-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.shop-btn {
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #f9bf29;
    color: #2f2f2f;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.explore-btn {
    padding: 12px 30px;
    border-radius: 30px;
    background: transparent;
    border: 2px solid #2f2f2f;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.shake-horizontal {
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

.products-title {
    background-color: #eff2f1;
    padding: 2rem 9rem;
}

.product-cards {
    width: 100%;
    background-color: #eff2f1;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 7rem 9rem;
}

.card {
    flex-grow: 1;
    flex-basis: 255px;
    min-width: 255px;
    max-width: 350px;
    min-height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: translateY(-10px);
}

.card-details {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.product-title {
    transition: transform 0.3s ease;
}

.buy-btn {
    width: 50px;
    visibility: hidden;
    z-index: 1;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.card:hover .buy-btn {
    visibility: visible;
    z-index: 1;
}

.overlay {
    width: 100%;
    height: 200px;
    display: flex;
    border-radius: 22px;
    justify-content: center;
    align-items: end;
    transition: transform 0.3s ease;
    background-color: #0a58ca;
    opacity: 12%;
    position: absolute;
    bottom: -200px;
    z-index: 0;
    transition: bottom 0.5s ease, opacity 0.3s ease;
}

button {
    z-index: 1;
}

.card:hover .overlay {
    bottom: -10px;
    visibility: visible;
}

.why-title {
    background-color: #eff2f1;
    padding: 2rem 9rem;
}

.why-section {
    background-color: #eff2f1;
    padding: 1rem 9rem 4rem 9rem;
    width: 100%;
    display: flex;
}

.why-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.why-left p {
    font-weight: 400;
    line-height: 28px;
    color: #6a6a6a;
    font-size: 14px;
}

.why-feature-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: 50%;
    height: 200px;
    padding-right: 10px;
}

.feature-svg-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #3b5d5033;
    padding: 9px;
}

.feature-svg-container svg {
    stroke: #212121;
    width: 32px;
}

.feature h3 {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 14px;
    color: #212121;
}

.why-right {
    width: 50%;
    height: 500px;
    overflow: hidden;
    border-top-left-radius: 30px;
}

.why-right img {
    width: 100%;
    object-fit: cover;
}

.popular-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem 0rem 4rem 0rem;
}

.popular-product {
    width: 300px;
    display: flex;
    gap: 18px;
    margin: 0px 28px 0px 28px;
}

.popular-product-img img {
    max-width: 100%;
    width: 200px;
    height: auto;
    background-color: #dce5e4;
    border-radius: 30px;
    padding: 6px;
}

.popular-product-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.popular-product-content h3 {
    font-size: 14px;
    font-weight: 700;
    color: #2f2f2f;
}

.popular-product-content p {
    font-size: 14px;
    font-weight: 500;
    color: #2f2f2f8a;
}

.slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    background-color: #eff2f1;
}

.slider-container h1 {
    color: #2f2f2f;
}

.slider {
    width: 100%;
    overflow: hidden;
    padding: 4rem 12rem;
}

.slider-content {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    gap: 10px;
}

.slider-content img {
    width: 150px;
    border-radius: 100px;
}

.slider-content p {
    font-size: 14px;
    font-weight: 500;
    color: #2f2f2f8a;
    text-align: center;
}

.checked {
    color: orange;
}

.recent-blogs {
    width: 100%;
    padding: 5rem 9rem;
}

.recent-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.recent-content h1 {
    font-weight: 500;
    color: black;
}

.recent-content p {
    font-size: 14px;
    font-weight: 500;
    color: #2f2f2f8a;
    text-decoration: underline;
}

.recent-images {
    width: 100%;
    display: flex;
    padding: 3rem 0rem;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

.image-content {
    width: 313px;
    height: 185px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.image-container img {
    width: 100%;
    border-radius: 16px;
}

.image-content p {
    font-size: 15px;
    font-weight: 500;
    color: #2f2f2f8a;
}

footer {
    width: 100%;
    height: 40px;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    color: #fff;
}